<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue" class="header">
    <logo>
        <a class="navbar-brand text-white" (click)="getActiveTab(allTabs[0].pathes)"></a>
    </logo>
    <links>
        <ul class="navbar-nav mr-auto">
            <span *ngFor="let tab of showTabs; let i = index">
                <li class="nav-item" [ngClass]="{'active': tab.active}" *ngIf="i > 0">
                    <a *ngIf="showTabByRole(tab)" class="nav-link" (click)="getActiveTab(tab.pathes)">{{tab.name}}</a>
                </li>
            </span>
        </ul>
        <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item account">
                <form class="form-inline ml-auto">
                    <div class="md-form mt-0 search__book">
                        <input class="form-control" name="search" [(ngModel)]="search" (keyup)="setSearch()" type="text" placeholder="Search" aria-label="Search">
                    </div>
                    <i class="fa fa-search text-white" aria-hidden="true"></i>
                </form>
            </li>
            <li class="nav-item account" *ngIf="authorize.getUser()">
                <div class="btn-group sign-out-for-account" dropdown>
                    <div class="waves-light" mdbWavesEffect>
                        <a routerLink='/books/my'>
                            <span class="name">{{authorize.getUser().name}}</span>
                            <div class="avatar mx-auto">
                                <img [src]="authorize.getUser().image" alt="avatar mx-auto" class="img-fluid z-depth-1">
                            </div>
                        </a>
                        <a (click)="signOut()">
                            <i class="fa fa-sign-out"></i>
                        </a>
                    </div>
                    <!--<div class="dropdown-menu dropdown-primary">
                    my-book-list  &lt;!&ndash;<a class="dropdown-item" routerLink='/profile'>Profile</a>&ndash;&gt;
                        <a class="dropdown-item" routerLink='/books/my'>My books</a>
                        <a class="dropdown-item" >Log out</a>
                    </div>-->
                </div>
                <!--<div class="btn-group">
                    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-angle-down"></i></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" (click)="logout()">LogOut</a>[
                    </div>
                </div>-->
                <!--<a>
                    <i class="fa fa-sign-out-alt" aria-hidden="true"></i>
                </a>-->
            </li>
        </ul>
    </links>
</mdb-navbar>