<div class="books-list">
    <table class="table table-bordered table-responsive-md" *ngIf="myBookList && myBookList.length > 0; else noneBooks">

        <thead>
        <tr>
            <th></th>
            <th>Title</th>
            <th>Author</th>
            <th>From - To</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let myBook of myBookList">
            <td class="td-image">
                <img class="image" [src]="myBook.book.imageLink || '../../../assets/images/book.png'">
            </td>
            <td>
                <app-description-book [book]="myBook.book" [title]="myBook.book.name"></app-description-book>
            </td>
            <td>{{myBook.book.author}}</td>
            <td class="td-from-to">
                <p>
                    {{myBook.startDateStr}} - {{myBook.endDateStr}}
                </p>
            </td>
            <td class="actions">
                <div class="action">
                    <app-comments [book]="myBook.book"></app-comments>
                </div>
                <div class="action">
                    <app-return-book [takeBook]="myBook"></app-return-book>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <ng-template #noneBooks>
        <p class="none-books">List is empty</p>
    </ng-template>
</div>
