.header {
   logo {
      width: 100px;
      height: 40px;
      margin: 0 10px 5px 0;
      background: url(../../assets/images/logo.svg) no-repeat;
      background-size: contain;
   }

   .search__book {
      width: 345px;
      margin: 0 15px 0 0;
      input {
         width: 100%;
      }
   }

   .account {
      text-align: right;
      a {
         display: inline-block;
         .name {
            display: inline-block;
            margin-right: 10px;
         }
         .avatar {
            display: inline-block;
            width: 30px;
            img {
               border-radius: 100%;
            }
         }
      }
      .dropdown-for-account {
         a {
            color: #ffffff;
            &::after {
               display: none;
            }
         }
         .dropdown-menu {
            min-width: 105px;
            padding: 0;
            top: 20px;
            border-radius: 0;
            .dropdown-item {
               padding: 3px 5px;
               &:active, &:hover {
                  background-color: #c0c0c0;
               }
            }
         }
      }
   }

   @media (min-width: 992px) {
      .navbar-expand-lg .navbar-nav .nav-link {
         padding-right: 1.5rem;
         padding-left: 1.5rem;
      }
   }
}
