<div class="wait-list">
    <p class="title">Waiting</p>
    <div *ngIf="user">
        <table *ngIf="!cardOrientation && bookList.length > 0" class="table table-bordered table-responsive-md">
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Author</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of bookList">
                    <td class="td-image">
                        <img class="image" [src]="book.imageLink || '../../../assets/images/book.png'">
                    </td>
                    <td>
                        <app-description-book [title]="book.name" [book]="book"></app-description-book>
                    </td>
                    <td>{{book.author}}</td>
                    <td>
                        <app-wait-book [book]="book" [user]="user"></app-wait-book>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="cards row" *ngIf="cardOrientation && bookList.length > 0">
            <div class="card-book" *ngFor="let book of bookList">
                <div class="row">
                    <div class="col-4">
                        <img class="image" [src]="book.imageLink || '../../../assets/images/book.png'">
                    </div>
                    <div class="col-8 description">
                        <app-description-book [title]="book.name" [book]="book"></app-description-book>
                        <p class="author">{{book.author}}</p>
                        <app-wait-book [book]="book" [user]="user"></app-wait-book>
                    </div>
                </div>
            </div>
        </div>

        <p *ngIf="bookList.length === 0" class="none-waiting">Waiting list is empty</p>
    </div>
    <div *ngIf="book">
        <div *ngIf="userList.length > 0; else emptyList">
            <img class="title-book image d-inline-block" [src]="book.imageLink || '../../assets/images/book.png'">
            <p class="h4 title-book d-inline-block">{{book.name}} <span class="h5">{{book.author}}</span></p>
            <table class="table table-bordered table-responsive-md">
                <tbody>
                <tr *ngFor="let person of userList">
                    <td class="td-user">
                        <img class="image rounded-circle" [src]="person.image">
                        <span>{{person.name}}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <ng-template #emptyList>
            <p class="none-waiting">Waiting list is empty</p>
        </ng-template>
    </div>
</div>