<div class="labels-area">
    <label>{{labelTitle}}</label>
    <div class="labels-input row">
        <div class="col-6">
            <div class="labels-active labels-all">
                <a class="badge badge-theme" *ngFor="let label of componentLabels.active"
                   (click)="toggleLabelsInArray(componentLabels.active, componentLabels.all, label)">{{label.name}}</a>
            </div>
        </div>
        <div class="col-6">
            <div class="labels-all">
                <a class="badge badge-theme" *ngFor="let label of componentLabels.all"
                   (click)="toggleLabelsInArray(componentLabels.all, componentLabels.active, label)">{{label.name}}</a>
            </div>
        </div>
    </div>
</div>