.user-page {
   padding: 20px 30px;
   .user-info {
      .image {
         width: 70px;
         margin: 10px;
      }
      .title {
         display: inline-block;
         vertical-align: text-top;
         text-transform: uppercase;
         font-weight: 100;
         .role {
            margin-left: 10px;
            font-size: 16px;
         }
      }
   }
}