<button type="button" class="btn blue waves-light add-button" (click)="openPopup('add', resetLabel())" mdbWavesEffect>Add label</button>

<div class="label-list">
    <div class="labels-all">
        <a class="badge badge-theme" *ngFor="let label of labelList" (click)="readLabel(label)" [ngStyle]="{'background': label.color}">{{label.name}}</a>
    </div>
</div>

<div mdbModal #labelModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addLabelModal" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="labelModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title text-uppercase w-100" id="myModalLabel">{{event}} label</h4>
            </div>
            <form #labelForm="ngForm" (ngSubmit)="addLabel(labelForm)">
            <div class="modal-body">
                <label for="titleInput">Title</label>
                <input type="text" id="titleInput" name="name" #name="ngModel" [(ngModel)]="selectLabel.name" class="form-control" required>

                <label for="colorInput">Color</label>
                <input type="text" id="colorInput" name="color" #color="ngModel" [(ngModel)]="selectLabel.color" class="form-control" required>
            </div>
            <div class="modal-footer">
                <button *ngIf="event === 'edit'" type="button" class="btn btn-danger waves-light" aria-status="Close" (click)="deleteLabel(label.$key)" mdbWavesEffect>Delete</button>
                <button type="button" class="btn btn-secondary waves-light" aria-label="Close" (click)="labelModal.hide()" mdbWavesEffect>Close</button>
                <button type="submit" class="btn btn-primary relative waves-light" [disabled]="!labelForm.valid" mdbWavesEffect>Save</button>
            </div>
            </form>
        </div>
    </div>
</div>