<button *ngIf="activeBooks.length > 0" type="button" class="btn btn-danger rounded-circle delete-books-button" (click)="deleteModal.show()" mdbTooltip="DELETE BOOK" placement="bottom" mdbWavesEffect><i class="fa fa-trash fa-lg"></i></button>

<div mdbModal #deleteModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-statusledby="deleteModal" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-status="Close" (click)="deleteModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 *ngIf="activeBooks.length > 1" class="modal-title text-uppercase w-100">Delete books</h4>
                <h4 *ngIf="activeBooks.length === 1" class="modal-title text-uppercase w-100">Delete book</h4>
            </div>
            <div class="modal-body">
                <ul class="remove-list">
                    <li *ngFor="let activeBook of activeBooks">
                        <span>{{activeBook.name}} {{activeBook.author}}</span>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-light" aria-status="Close" (click)="deleteModal.hide()" mdbWavesEffect>Close</button>
                <button type="button" class="btn btn-danger relative waves-light" (click)="deleteBooks()" mdbWavesEffect>Delete</button>
            </div>
        </div>
    </div>
</div>