<!--<div class="lists-menu row">
    <div class="tab-item col-2" *ngFor="let tab of tabs">
        <a class="list-group-item justify-content-between align-items-center waves-light" [ngClass]="{'active': tab.active}" (click)="getActiveTab(tab.name)" mdbWavesEffect>
            {{tab.name}}
            <span class="badge badge-primary badge-pill">{{tab.count}}</span>
        </a>
    </div>
</div>-->

<div class="panel-book">
    <div *ngIf="filterEnable" class="filters-area">
        <a class="clear-filters" (click)="clearSortAndFilters()">
            <i class="fa fa-times-circle"></i>
        </a>
        <div class="labels-all">
            <a class="badge badge-theme" *ngFor="let label of filterLabels" (click)="removeLabelFromFilterFiltering(label.name)" [ngStyle]="{'background': label.color}">{{label.name}}</a>
        </div>
    </div>
    <div *ngIf="currentUser.role === 'admin'">
        <app-delete (emitDeleteBooks)="setAllCheckBox($emit)" [activeBooks]="activeBooksArray"></app-delete>
        <button type="button" class="btn blue rounded-circle waves-light add-book-button" routerLink="/book/add" mdbWavesEffect><i class="fa fa-plus fa-lg"></i></button>
    </div>
</div>


<div class="books-list">
    <table class="table table-bordered table-responsive-md">

        <thead>
        <tr>
            <th class="pr-md-3 pr-5">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1" [(ngModel)]="allCheckBox" (change)="toggleAllCheckBox()">
                    <label class="custom-control-label" for="customCheck1"></label>
                </div>
            </th>
            <th></th>
            <th>Title</th>
            <th>Author</th>
            <th>Count</th>
            <th>Labels</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let book of bookList | filter:searchService.getSearch()">
            <td scope="row" class="pr-md-3 pr-5">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="{{book.name}}" [(ngModel)]="book.active" (change)="toggleBookCheckBox(book)">
                    <label class="custom-control-label" for="{{book.name}}"></label>
                </div>
            </td>
            <td class="td-image">
                <img class="image" [src]="book.imageLink || '../../../assets/images/book.png'">
            </td>
            <td>

                <app-description-book [title]="book.name" [book]="book"></app-description-book>
            </td>
            <td>{{book.author}}</td>
            <td class="td-count">
                <span [ngClass]="{'green-color': book.availableCount > 1,
                        'yellow-color': book.availableCount === 1,
                        'red-color': book.availableCount === 0}">{{book.availableCount}}</span> / <span class="blue-color">{{book.allCount}}</span></td>
            <td class="td-labels">
                <div class="labels-all">
                    <a class="badge badge-theme" *ngFor="let label of book.labels" (click)="addLabelToFilterFiltering(bookList, 'labels', label)" [ngStyle]="{'background': label.color}">{{label.name}}</a>
                    <a class="badge badge-theme" *ngFor="let label of book.statuses" (click)="addLabelToFilterFiltering(bookList, 'statuses', label)" [ngStyle]="{'background': label.color}">{{label.name}}</a>
                </div>
            </td>
            <td class="actions">
                <div class="action">
                    <app-comments [book]="book"></app-comments>
                </div>
                <div class="action" *ngIf="book.availableCount > 0">
                    <app-take-book [book]="book"></app-take-book>
                </div>
                <div class="action" *ngIf="book.availableCount === 0">
                    <a>
                        <i class="fa fa-hourglass-o"></i>
                    </a>
                </div>
                <div class="action" *ngIf="currentUser.role === 'admin'">
                    <a routerLink="/book/edit/{{book['$key']}}">
                        <i class="fa fa-edit"></i>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>