.lists-menu {
   padding: 10px 50px;
   .tab-item {
      height: 55px;
      padding: 0;
      .list-group-item {
         width: 100%;
         border: none;
         border-radius: 0;
         text-transform: uppercase;
         &.active {
            color: #fff;
            &:hover {
               background: #007bff;
            }
         }
         &:hover {
            background: #64b5f6;
            color: #fff;
         }
         .badge {
            float: right;
         }
      }
   }
}

.panel-book {
   min-height: 45px;
   padding: 5px 25px;
   text-align: right;

   .filters-area {
      float: left;
      vertical-align: top;
      i {
         font-size: 35px;
         color: #aab3bd;
         transition: .5s;
         &:hover {
            color: rgb(220, 53, 69);
         }
      }
      .labels-all {
         display: inline-block;
         margin-left: 5px;
         vertical-align: top;
      }
   }

   .add-book-button {
      height: 48px;
      width: 48px;
      font-size: 15px;
   }
}

.books-list {
   margin: 0 30px;
   .table {
      thead {
         th {
            vertical-align: middle;
            text-align: center;
            font-size: 20px;
            text-transform: uppercase;
            &:first-child {
               width: 50px;
            }
         }
      }
      tbody {
         tr {
            min-height: 135px;
         }
         td {
            font-size: 20px;
            &.td-image {
               text-align: center;
               width: 150px;
               .image {
                  width: 100px;
               }
            }
            &.td-labels {
               padding: 5px;
            }
            &.td-count {
               width: 50px;
               text-align: center;
               span {
                  font-weight: bold;
                  &.green-color {
                     color: #37fa06;
                  }
                  &.yellow-color {
                     color: #ffff00;
                  }
                  &.red-color {
                     color: #ff0000;
                  }
                  &.blue-color {
                     color: #007bff;
                  }
               }
            }
            &.actions {
               .action {
                  display: inline-block;
                  margin: 0 10px;
                  i {
                     font-size: 30px;
                     transition: .5s;
                     &:hover {
                        color: #007bff;
                     }
                  }
               }
            }
         }
      }
   }
   .search-oz {
      text-align: center;
      a {
         width: fit-content;
         color: #000000;
         &:hover {
            text-decoration-line: underline;
            img {
               opacity: .8;
            }
         }
         span {
            font-size: 26px;
            font-weight: 100;
         }
         img {
            width: 50px;
            margin-left: 10px;
            vertical-align: text-bottom;
         }
      }
   }
}