<ul *ngIf="commentList && commentList.length > 0; else noneComments" class="comments">
    <li class="comment" *ngFor="let comment of commentList">
        <div class="avatar-score">
            <img [src]="comment.user.image" class="img-fluid z-depth-1 avatar rounded-circle">
            <div class="score">
                <a *ngIf="comment.score === true" class="like"><i class="fa fa-thumbs-up"></i></a>
                <a *ngIf="comment.score === false" class="dislike"><i class="fa fa-thumbs-down"></i></a>
            </div>
        </div>
        <div class="content">
            <button *ngIf="currentUser.role === 'admin'" type="button" class="close remove-comment" (click)="removeComment(comment)">
                <span aria-hidden="true">×</span>
            </button>
            <p class="name">{{comment.user.name}}</p>
            <p class="text">{{comment.text}}</p>
        </div>
    </li>
</ul>
<ng-template #noneComments>
    <p class="none-comments">This book has no comments.</p>
</ng-template>