.book-action {
   position: relative;
   .comments-count {
      position: absolute;
      bottom: -9px;
      right: -5px;
      padding: 2px 7px;
      background: #337ab7;
      color: #ffffff;
      border-radius: 100%;
      font-size: 10px;
      font-weight: bold;
      &.none {
         background: #808080;
      }
   }
}
.comments-modal-dialog {
   height: 100%;
   width: 100%;
   .comments-content {
      height: 95%;
      margin-top: 20px;
      .modal-header, .title-header {
         display: block;
         text-align: left;
         img {
            width: 70px;
            display: inline-block;
         }
         h4 {
            font-size: 24px;
         }
         p {
            font-size: 20px;
            font-weight: 300;
         }
      }
      .modal-body {
         overflow-y: auto;
      }
   }
}
.add-coomment {
   width: 100%;
}