<div class="lists-menu row">
    <div class="tab-item col-2" *ngFor="let tab of tabs">
        <a class="list-group-item justify-content-between align-items-center waves-light" [ngClass]="{'active': tab.active}" (click)="getActiveTab(tab.name)" mdbWavesEffect>
            {{tab.name}}
            <span class="badge badge-primary badge-pill">{{tab.count}}</span>
        </a>
    </div>
</div>

<app-books-panel></app-books-panel>
<!--<div class="books-list">
    <table class="table table-bordered table-responsive-md">

        <thead>
        <tr>
            <th class="pr-md-3 pr-5">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1"></label>
                </div>
            </th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
        </tr>
        </thead>
        &lt;!&ndash;Table head&ndash;&gt;

        &lt;!&ndash;Table body&ndash;&gt;
        <tbody>
        <tr>
            <th scope="row" class="pr-md-3 pr-5">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                    <label class="custom-control-label" for="customCheck2"></label>
                </div>
            </th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row" class="pr-md-3 pr-5">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                    <label class="custom-control-label" for="customCheck3"></label>
                </div>
            </th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@TwBootstrap</td>
        </tr>
        <tr>
            <th scope="row" class="pr-md-3 pr-5">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck4">
                    <label class="custom-control-label" for="customCheck4"></label>
                </div>
            </th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        </tbody>
        &lt;!&ndash;Table body&ndash;&gt;

    </table>
</div>-->

<div class="tab-item col-2" *ngFor="let book of books">
    {{book.name}}
    {{book.author}}
</div>
<!--Table-->