<section class="my-5 container home">

    <h2 class="page-title">Recent activity</h2>

    <div class="list-group">
        <div class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let event of eventList">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">
                    <span class="name">{{event.user.name}}</span>
                    <span class="description"> {{event.description}}</span>
                </h5>
                <span>{{dateFormat(event.date)}}</span>
            </div>
        </div>
    </div>
</section>
