.add-coomment-content {
   position: relative;
   .score {
      position: absolute;
      top: 50px;
      a {
         margin: 0 5px;
         font-size: 22px;
         color: #c0c0c0;
         &.like {
            color: #28a745;
         }
         &.dislike {
            color: #dc3545;
         }
         &.active-score-like {
            color: #37fa06;
         }
         &.active-score-dislike {
            color: #e262b4;
         }
         /*&:hover {
            color: #007bff;
         }*/
      }
   }
   .text-area {
      line-height: 1;
   }
   .send-btn {
      position: absolute;
      height: 35px;
      width: 35px;
      bottom: -15px;
      right: -15px;
      i {
         font-size: 20px;
      }
   }
}