<p class="h4 title">Statuses</p>

<button type="button" class="btn blue waves-light add-button" (click)="openPopup('add', resetStatus())" mdbWavesEffect>Add status</button>

<div class="status-list">
    <label>All statuses</label>
    <div class="statuses-all">
        <a class="badge badge-theme" *ngFor="let status of statusList | async" (click)="readStatus(status)" [ngStyle]="{'background': status.color}">{{status.name}}</a>
    </div>
</div>

<div mdbModal #statusModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-statusledby="addstatusModal" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-status="Close" (click)="statusModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title text-uppercase w-100" id="myModalstatus">{{event}} status</h4>
            </div>
            <form #statusForm="ngForm" (ngSubmit)="addStatus(statusForm)">
                <div class="modal-body">
                    <status for="titleInput">Title</status>
                    <input type="text" id="titleInput" name="name" #name="ngModel" [(ngModel)]="selectStatus.name" class="form-control" required>

                    <status for="colorInput">Color</status>
                    <input type="text" id="colorInput" name="color" #color="ngModel" [(ngModel)]="selectStatus.color" class="form-control" required>
                </div>
                <div class="modal-footer">
                    <button *ngIf="event === 'edit'" type="button" class="btn btn-danger waves-light" aria-status="Close" (click)="deleteStatus(status.$key)" mdbWavesEffect>Delete</button>
                    <button type="button" class="btn btn-secondary waves-light" aria-status="Close" (click)="statusModal.hide()" mdbWavesEffect>Close</button>
                    <button type="submit" class="btn btn-primary relative waves-light" [disabled]="!statusForm.valid" mdbWavesEffect>Save</button>
                </div>
            </form>
        </div>
    </div>
</div>