.comments {
   padding: 35px 10px 10px 10px;
   overflow-y: auto;
   overflow-x: hidden;
   .comment {
      margin-bottom: 20px;
      position: relative;
      list-style: none;
      text-align: left;
      .avatar-score {
         display: inline-block;
         position: absolute;
         top: 10px;
         left: -10px;
         vertical-align: top;
         .avatar {
            height: 50px;
            width: 50px;
            display: block;
         }
         .score {
            text-align: right;
            display: block;
            margin: -10px;
            a {
               margin: 0 5px;
               font-size: 18px;
               color: #c0c0c0;
               &.like {
                  color: #28a745;
               }
               &.dislike {
                  color: #dc3545;
               }
            }
         }
      }
      .content {
         width: 100%;
         display: inline-block;
         padding: 5px 15px 0 45px;
         box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
         font-size: 16px;
         .name {
            margin-bottom: 5px;
            font-weight: bold;
         }
         .remove-comment {
            position: absolute;
            top: 0;
            right: 5px;
         }
         .date {
            font-size: 14px;
            font-weight: 100;
            color: #c0c0c0;

         }
      }
   }
}
.none-comments {
   text-align: center;
   font-weight: 300;
   font-size: 20px;
}