@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  max-width: 100%;
  overflow-x: hidden;
  &.modal-open {
    overflow-x: hidden;
  }
}

.custom-checkbox {
  label {
    height: 25px;
    outline: none;
    &:before, &:after {
      height: 25px;
      width: 25px;
      border-radius: 0 !important;
      cursor: pointer;
      background-size: 20px;
    }
  }
}

.form-control {
  border-radius: 0;
}
button {
  border-radius: 0;
  &.btn {
    border-radius: 0;
  }
}
label {
  margin: 10px 0 0;
  text-transform: uppercase;
}
input.ng-invalid.ng-dirty{
  border: 1px solid red;
}

.book-action {
   margin: 0 10px;
   i {
      font-size: 30px;
      transition: .5s;
      &:hover {
         color: #007bff;
      }
   }
}
my-date-picker {
   .mydp {
      border: 1px solid #007bff;
      border-radius: 0;
      .mydpicon, .markcurrday {
         color: #007bff;
      }
      .markcurrday {
         font-weight: bold;
         text-decoration: none;
      }
   }
}

.toast-container .toast {
   border-radius: 0;
}