@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  max-width: 100%;
  overflow-x: hidden;
}

.custom-checkbox {
  label {
    height: 25px;
    outline: none;
    &:before, &:after {
      height: 25px;
      width: 25px;
      border-radius: 0 !important;
      cursor: pointer;
      background-size: 20px;
    }
  }
}
