@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  max-width: 100%;
  overflow-x: hidden;
  &.modal-open {
    overflow-x: hidden;
  }
}

.custom-checkbox {
  label {
    height: 25px;
    outline: none;
    &:before, &:after {
      height: 25px;
      width: 25px;
      border-radius: 0 !important;
      cursor: pointer;
      background-size: 20px;
    }
  }
}

.form-control {
  border-radius: 0;
}
button {
  border-radius: 0;
  &.btn {
    border-radius: 0;
  }
}
label {
  margin: 10px 0 0;
  text-transform: uppercase;
}
input.ng-invalid.ng-dirty{
  border: 1px solid red;
}