<section class="my-5 container home">

    <h2 class="h1-responsive text-center my-5 page-title">Mifort lib</h2>
    <div *ngFor="let book of bookList; let index = index">
        <div class="row book">
            <div class="col-12 col-md-5" *ngIf="index % 2 === 0">
                <div class="view overlay mb-lg-0 mb-4 animated bounce">
                    <img class="img-fluid image-cover" [src]="book.imageLink || '../../assets/images/book.png'">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
            </div>
            <div class="col-12 col-md-7">
                <div class="labels-all">
                    <a class="badge badge-theme" *ngFor="let label of book.labels" [ngStyle]="{'background': label.color}">{{label.name}}</a>
                    <a class="badge badge-theme" *ngFor="let label of book.statuses" [ngStyle]="{'background': label.color}">{{label.name}}</a>
                </div>
                <p class="mb-3 name">{{book.name}}</p>
                <p>
                    {{book.description}}
                </p>
                <p>by <a><strong>{{book.author}}</strong></a></p>
                <!--<a class="btn btn-primary btn-md">Read more</a>-->
                <app-comments [book]="book"></app-comments>
                <app-take-book [book]="book"></app-take-book>
            </div>
            <div class="col-12 col-md-5" *ngIf="index % 2 === 1">
                <div class="view overlay mb-lg-0 mb-4 animated bounce">
                    <img class="img-fluid image-cover" [src]="book.imageLink || '../../assets/images/book.png'">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
            </div>
        </div>
        <hr class="my-5" *ngIf="index !== bookList.length-1">
    </div>
</section>
