.comments-modal-dialog {
   height: 100%;
   width: 100%;
   .comments-content {
      height: 95%;
      margin-top: 20px;
      .modal-header, .title-header {
         display: block;
         text-align: left;
         h4 {
            font-size: 24px;
         }
         p {
            font-size: 20px;
            font-weight: 300;
         }
      }
      .modal-body {
         overflow-y: auto;
      }
   }
}
.add-coomment {
   width: 100%;
}