.add-book-content {
  padding: 10px 20px;
  .title {
    text-transform: uppercase;
  }
  .counter {
    .button-counter {
      margin-top: 1px;
    }
    .input-counter {
      display: inline-block;
      min-width: 150px;
    }
  }
}