.add-book-content {
  padding: 10px 20px;
  .title {
    text-transform: uppercase;
  }
  .counter {
    .button-counter {
      margin-top: 1px;
    }
    .input-counter {
      display: inline-block;
      min-width: 150px;
    }
  }
  .labels-input {
    .labels-active {
      min-height: 80px;
      border: 1px solid #ced4da;
      padding: 5px;
    }
    .badge-theme {
      margin: 0 3px 5px 3px;
      padding: 7px;
      border-radius: 0;
      font-size: 14px;
    }
  }
}